header{
  padding-top: 9rem;
  display: flex;
  justify-content: center;
}
.logo {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid white;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 3.5rem;
  height: 3.5rem;
  
}