header{
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid white;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 3.5rem;
  height: 3.5rem;
}
.logoLine{
  border-left: 1px solid white;
  height: 4rem;
}
.logoText{
  border-top: 1px solid white;
  color: white;
  border-bottom: 1px solid white;
}
.logoText h1{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.logoText p{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2rem;
}
.logoText a{
  color: white;
  border-bottom: 1px dotted white;
   text-decoration: none;
}