.tab{
  display: none;
}
.show{
  display: flex;
}
.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(29, 28, 28, 0.692);
  color: white;
  width: 95%;
  height: 95%;
  padding: 1rem;
  gap: 2rem;
}
.container iframe{
  width: 100%;
  height: 10rem;
}
.container img{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: center;
}
#close{
  position: relative;
  float: right;
  border: none;
  background: rgba(255, 0, 0, 0);
	color: white;
  top: 4rem;
  right: -18rem;
  width: 1.5rem;
  height: 1.5rem;
}
#close:hover{
  transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
}
@media(min-width: 576px){
  .container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29, 28, 28, 0.692);
    color: white;
    width: 80%;
    height: 80%;
    padding: 4rem;
    gap: 2rem;
  }
  .container iframe{
    width: 100%;
    height: 15rem;
  }
  .container img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
  }
  #close{
    position: absolute;
    float: right;
    border: none;
    background: rgba(255, 0, 0, 0);
    color: white;
    top: 4rem;
    right: 3rem;
  }

}