@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-family:'Roboto', sans-serif;
  --color-main:rgb(201, 201, 201);
}
